* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(bg.jpg);
  background-size: cover;
}

nav {
  width: 1020px;
  height: 60px;
  border: solid 2px black;
  margin: auto;
  background-color: black;
  margin-top: 20px;
}

ul li {
  list-style-type: none;
  font-size: 18px;
  color: white;
  background-color: black;
  display: inline;
  margin-left: 20px;
}



ul {
  text-align: center;
  margin-top: 15px;
}

header {
  width: 1020px;
  320px;
  border: solid 2px black;
  margin: auto;
  background-color: black;
}

h1 {
  font-size: 133px;
  color: #cfa205;
  text-align: center;
  font-family: 'Josefin sans';

}

h3 {
  font-size: 18px;
  color: #cfa205;
  text-align: center;
  margin-bottom: 20px;
}

.icone {
  width: 1020px;
  height: 60px;
  background-color: #7a7a7a;
  margin: auto;
  text-align: center;
  color: #7a7a7a;

}

.partie2 {
  width: 1020px;
  height: 960px;
  margin: auto;
  background-color: white;
}

.haut {
  width: 900;
  height: 90px;
  margin: auto;
  border-bottom: solid 1px black;
  padding-top: 15px;

}

article {
  width: 260px;
  height: 480px;
  display: inline-block;
  margin-left: 60px;
  margin-top: 100px;
}

.un {
  width: 260px;
  height: 195px;
}

h4 {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 25px;
}

p {
  font-size: 14px;
  text-align: left;
  margin-top: 35px;
  margin-left: 10px;
  color: #7a7a7a;
  font-weight: bold;
  font-family:"Bitter";
}



h5 {
  font-size: 18px;
  font-family: "Bitter";
  color: #7a7a7a;
  text-align: center;
}

a {
  margin-left: 120px;
}
